body {
    background-color: #F5F5F5;
}
.header {
    background-color: #ECECEC;
}
.main-header {
    background-color: #2F303A;
}
.studio-facts {
    background-color: #F5F5F5;
}
.studio-team {
    background-color: #F5F4FA;
}
.footer {
    background-color: #2F303A;
}

